/*!
Theme Name: Gcorp
Theme URI:
Author:

Description: Hi. I'm a starter theme called <code>Gcorp</code>.
*/
@font-face {
    font-family: 'LatoWebLight';
    src: url('fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;    font-weight: normal;    text-rendering: optimizeLegibility;}
	@font-face {
    font-family: 'LatoWebMedium';
    src: url('fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Trajan Pro';
    src: url('TrajanPro-Regular.eot');
    src: url('TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('TrajanPro-Regular.woff2') format('woff2'),
        url('TrajanPro-Regular.woff') format('woff'),
        url('TrajanPro-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{font-family:'Regular_SemiBold_PRO';src:url('fonts/Regular_SemiBold_PRO.eot');src:url('fonts/Regular_SemiBold_PRO.eot') format('embedded-opentype'),
url('fonts/Regular_SemiBold_PRO.woff2') format('woff2'),
url('fonts/Regular_SemiBold_PRO.woff') format('woff'),
url('fonts/Regular_SemiBold_PRO.ttf') format('truetype'),
url('fonts/Regular_SemiBold_PRO.svg#Regular_SemiBold_PRO') format('svg');}
@font-face{font-family:'Regular_Regular_PRO';src:url('fonts/Regular_Regular_PRO.eot');src:url('fonts/Regular_Regular_PRO.eot') format('embedded-opentype'),
url('fonts/Regular_Regular_PRO.woff2') format('woff2'),
url('fonts/Regular_Regular_PRO.woff') format('woff'),
url('fonts/Regular_Regular_PRO.ttf') format('truetype'),
url('fonts/Regular_Regular_PRO.svg#Regular_Regular_PRO') format('svg');}
.trajanpro{font-family: 'Trajan Pro';}
body{color:#000;}
img{max-width:100%;}.text-black {    color: #000;}
section{position:relative;overflow-x:hidden;}
strong{font-family:'regular_proextrabold_italic';}
a:hover,a:active,a:focus{text-decoration:none;outline:0;}
.regular-pro{font-family:'Regular_Regular_PRO';}
.regular-pro-semibold{font-family:'Regular_SemiBold_PRO';}
.regular-pro-bold{font-family:'Regular_Bold_PRO_Release';}
.pad-0{padding-left:0px;padding-right:0px;}
.margin-0{margin-left:0px;margin-right:0px;}
.line-height-50{line-height:50px;}
.line-height-40{line-height:40px;}
.line-height-35{line-height:35px;}
.padding-30{padding:50px 100px;}
.text-blue{color:#4981ff;}
.color-black{color:#000;}
.color-white{color:#fff;}.lato-medium{font-family: 'LatoWebMedium';}.lato-light{font-family: 'LatoWebLight';}
.admin-bar .site-header{top:32px;}
strong.noitalic {    font-family: 'Regular_SemiBold_PRO';    font-size: 25px;}
.accordion-panel img {    width: 100%;}
.clr{clear:both;}
.g-form { padding: 10px 25px;}
.form-bg{ background: rgba(159,135,50,0.9);width:90%;margin:0 auto;};
.gform_body input {    border: none;border-radius:10px;
    background: #fff;    padding: 10px 10px!important;
    height: 40px;    color: #000;}
	.color-gold {
    color: #d2ac2a;
    text-transform: uppercase;
    font-family: 'Trajan Pro';
    font-weight: 400;}
.swiper-button-prev{background-image:url('./images/arrow-left.png');background-size: 100% 100%;}
.swiper-button-next{background-image:url('./images/arrow-right.png');background-size: 100% 100%;}
.swiper-button-next, .swiper-button-prev {  top: 40%;    width: 50px;height: 140px;}
.lnsp {  color: #d2ac2a;  float: right;    font-weight: 700;    margin: -34px 0 0;}
.lnsp2 {  color: #d2ac2a;  float: right;    font-weight: 700;    margin: -34px 0 0;}
	.bg-black .col-md-4 { float: left;}.bg-black { background: #000;    color: #fff;}
	.pro .col-md-4 {    float: left;}.ovimg { float: left;}.ovtxt { float: right;}
.form-styling{position:absolute;top:30%;bottom:0;left:0;right:0;z-index:999;    min-height: 500px;}
.banner-text{background-color:rgba(255,255,255,0.7);}
h4{font-size:18px;font-family: 'Regular_SemiBold_PRO';}
body .gform_wrapper .top_label .gfield_label{display:-moz-inline-stack;display:none;line-height:1.3;clear:both;}
body .gform_wrapper ul.gform_fields li.gfield{padding-right:0;margin-bottom:10px;}
body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    font-family: 'Regular_Regular_PRO';
    padding: 5px 10px;
    font-size: 18px;    font-weight: 700; border-radius: 5px;
    border: none; letter-spacing: normal;
    width: 100%;}
	.gform_wrapper select {
    padding: 5px 10px!important;
    width: 100%!important;
       font-size: 18px!important;    font-weight: 400; border-radius: 5px!important;
    border: none; letter-spacing: normal;    width: 100%;}
.form-bg h3 { background: #5b4e22; padding: 10px 0;text-shadow: 1px 2px 3px #000; font-family: 'Times New Roman';}
body input#gform_submit_button_2{border-radius: 35px;
    width: 75%;padding:0 5px; display: block;    text-transform: uppercase;
    border: none; font-family: 'Times New Roman'; font-size: 25px;font-weight: normal;
    text-shadow: 1px 2px 3px #111;margin: 15px auto;background-color: #000; color: #fff;}
body ul#gform_fields_1{list-style-type:none;padding:0px !important;}
body .gform_wrapper .gform_footer{padding:0;margin:0;clear:both;width:100%;}
.site-header{width:100%;margin-top:0px;background-color:#fff;height:90px;    position: fixed;    left: 0;    z-index: 9999;}
.site-logo{}
.site-branding a {padding: 0 5px;color: #000;}
.site-branding { margin: 15px 0;}
.hth {  text-align: center;    display: block; margin: 0 auto;}
.gall{background:#000;margin-top:30px;}
.border{border:2px solid #cccccc;}.offset-1 {
    margin-left: 8.333%!important;}
.locaul {    padding: 0 50px 0 50px;}.bg-black{height:500px;}.col-lg-15{width:16%;float:left; padding: 0 10px 10px 0;margin:0 auto;}
.bg-black .col-md-8 {   float: left; text-align: center; margin-left: -60px;}
.full-width-bg{position:relative;}
.full-width-bg:before{position:absolute;content:'';background-color:#a9c9b9;height:100%;width:50%;top:0;right:100%;}
.full-width-bg:after{position:absolute;content:'';background-color:#a9c9b9;height:100%;width:50%;top:0;left:100%;}
.videoWrapper{position:relative;padding-bottom:56.25%;padding-top:25px;height:0;z-index:0;}
.videoWrapper iframe{position:absolute;top:0;left:0;width:50%;height:100%;}
.fixed-footer-btns{position:fixed;bottom:0;left:0;width:100%;z-index:111;}
.fixed-footer-btns a{width:100%;float:left;height:50px;line-height:50px;background:#d2ac2a;border-top:1px solid #fff;border-right:1px solid #fff;text-align:center;color:#fff;font-size:18px;font-family:'AvenirLTStd-Medium';}
.fixed-footer-btns a:hover{width:100%;float:left;height:50px;line-height:50px;background:#000;border-top:1px solid #fff;border-right:1px solid #fff;text-align:center;color:#d2ac2a;font-size:18px;text-decoration:none;font-family:'AvenirLTStd-Medium';}
.fixed-footer-btns a:focus{width:100%;float:left;height:50px;line-height:50px;background:#d2ac2a;border-top:1px solid #fff;border-right:1px solid #fff;text-align:center;color:#fff;font-size:18px;text-decoration:none;font-family:'AvenirLTStd-Medium';}
.fixed-footer-btns a:last-child{border-right:none;}
.dummy-div{height:50px;}
.aboutxt {    padding: 15px 10% 0;}.abG {
    width: auto;    margin: 0 auto;    height: 70px;display:block;}
.times{font-size:20px;text-transform:uppercase;}
.acuity-embed-button{background:#f06210;color:#000 !important;font-family:'Regular_Bold_PRO_Release';padding:8px 12px;border:0px;-webkit-box-shadow:0 -2px 0 rgba(0,0,0,0.15) inset;-moz-box-shadow:0 -2px 0 rgba(0,0,0,0.15) inset;box-shadow:0 -2px 0 rgba(0,0,0,0.15) inset;border-radius:4px;text-decoration:none !important;z-index:99999;position:fixed;top:47%;right:100%;transition:all 0.5s;transform:rotate(-90deg);left:calc(100% - 119px);width:200px;font-size:17px;text-align:center;}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:99999;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;}
.videoWrapper {position: relative;padding-bottom: 56.25%;padding-top: 25px;height: 0;z-index: 0;}
.videoWrapper iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
footer#colophon{padding: 10px 0;background: #d2ac2a;color: #fff;}
.tblink {
    background: transparent;
    color: #d2ac2a;
    font-size: 19px;
    border: none;
    padding: 0 5px 0 0;}
	.gform_wrapper div.validation_error {
       font-size: 12px!important;    font-weight: 400!important;
    margin-bottom: 0!important;    border-top: none!important;    border-bottom: none!important;
    padding: 5px 0!important;    clear: both!important;    width: 100%!important;    text-align: center!important;}
.galtab {
    margin: 10px auto 20px auto;
    text-align: center;}
	input::placeholder {color: #000!important;}
body::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000!important;
}
body::-moz-placeholder { /* Firefox 19+ */
  color: #000!important;
}
body:-ms-input-placeholder { /* IE 10+ */
  color: #000!important;
}
body:-moz-placeholder { /* Firefox 18- */
  color: #000!important;
}
.btn-primary {
    color: #000;
    background-color: #f06210;
    border-color: transparent;
    font-size: 22px;
	font-family:'Regular_Regular_PRO';
}
i.fa.fa-chevron-left {
    font-size: 25px;
    color: #d2ac2a;}
	.carousel-control-prev-icon {
    background-image: none;}
.carousel-control-next-icon {
    background-image: none;}
i.fa.fa-chevron-right {
    font-size: 25px;
    color: #d2ac2a;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{
    color: #f06210;
    background-color: #000;
    border-color: transparent;
    font-size: 22px;
	font-family:'Regular_Regular_PRO';
}
.fons-16{
	font-size:16px !important;
}
.tal{
	text-align:left;
	font-family:'Regular_Regular_PRO';
}
textarea.form-control {
	display:inline-block;
    height: 90px;
	width: 40%;
}
.imgloca{width:100%;height:500px;}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    box-shadow: 1px 2px 3px #000;
    margin-left: 3px;
    border-radius: 76px;border:none;
    text-indent: -999px;
    cursor: pointer;
    background-color:#d2ac2a;
    background-clip: padding-box;    opacity: .5;
    transition: opacity .6s ease;
}
.gall ul li{
  width: 33.33%;
}
.gall {
  padding-bottom: 30px;
}
#gallery-actions{
  margin: 20px 0;
}
#gallery-tab{
  border: none;
}
#gallery-tab .nav-item .nav-link.active{
  background-color: transparent;
  border: none;
  color: #fff;
}
#gallery-tab .nav-item .nav-link:hover{
  border: none;
}
.gall ul li a{
  color: #d2ac2a;font-size:18px;
}
@media only screen and (min-width: 641px) {
body .gform_wrapper textarea.large {
    height: 65px;
    width: 100%;
	font-family: 'Regular_Regular_PRO';
	font-weight: bold;
    font-size: 18px;
}
}
@media only screen and (max-width:981px){.padding-30{padding:20px;}
.f2-bg{background-color:#f2f2f2;padding:5px 10px;color:#000;height:52px;vertical-align:middle}
.tal{text-align:center; font-family:'Regular_Regular_PRO';}
}
@media (max-width:767px){
	.lnsp { margin: -65px 0 0;    font-size: 35px;    font-weight: 400;}
	.lnsp2 { margin: -65px 0 0;    font-size: 35px;    font-weight: 400;}
	.site-header {    position: relative;    z-index: 0;}
	.swiper-button-next, .swiper-button-prev {    top: 35%;}
	.offset-1 {    margin-left: 0!important;}
	.map-mob {
    margin: 0 -30px;
    width: 100%;    min-width: 405px;}
.form-styling {    position: relative;    min-height: auto;
    top: 0;    background: rgb(159,135,50);}
.form-bg { background:rgb(159,135,50);}
.ovtxt {
      float: none;
    text-align: center;
    margin: 0 auto;}
	.bg-black {
    height: auto;}.bg-black .col-md-8 {
    float: none;    text-align: center;    margin-left: 0;}
.ovimg {    float: none;    text-align: center;}
.abG {   margin: 0 auto 10px auto;    display: block;
}
   #over-mob .carousel-indicators {
    bottom: -35px;}
.site-logo {
    display: block;
    text-align: center;
    float: none;
    margin: 0 auto;
}
.col-lg-15 {
    width: 32%; padding: 0 5px;
    height: 150px;
    margin: 0 auto 10px auto;
}
section#pro {
    width: 90%;
    margin: 0 auto;}
}
@media (min-width:768px) and (max-width:1023px){
	.site-header {    height: 75px;}
.lnsp {    margin: -40px 0 0;    font-size: 25px;    font-weight: 400;}
.lnsp2 {    margin: -40px 0 0;    font-size: 25px;    font-weight: 400;}
	.swiper-button-next, .swiper-button-prev {    top: 35%;}
	.offset-1 {    margin-left: 0!important;}
	.map-mob {
    margin: 0 -30px;
    width: 100%;    min-width: 405px;}
.form-styling {    position: relative;    min-height: auto;
    top: 0;    background: rgb(159,135,50);}
.form-bg { background:rgb(159,135,50);}
.ovtxt {    text-align: left;padding:0 8px;
    margin: 0 auto;}
	.bg-black {
    height: auto;}.bg-black .col-md-8 {
    float: none;    text-align: center;    margin: 0 auto;}
.ovimg {  text-align: center;}
.abG {   margin: 0 auto;    display: block;}
.locaul {    padding: 0 10px 0 10px;}
.imgloca{height:auto;min-height: 608px;}
   #over-mob .carousel-indicators {
    bottom: -35px;}
.site-logo {
    display: block;
    text-align: center;
    float: none;
    margin: 0 auto;
}
.col-lg-15 {    width: 16%;
    padding: 0 5px;
    height: 125px;    margin: 0 auto 10px auto;}
section#pro {
    width: 90%;
    margin: 0 auto;}
}
%transition_all_03s {
  transition:all .3s ease;
}
%backface_visibility_hidden{
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-top: 0px;
}
@media (min-width:411px) and (max-width:440px){
.lnsp2 {
    float: right;    color: goldenrod;
    font-size: 35px;    font-weight: 400;    margin: -67px 0 0 0!important;}
	.lnsp {    margin: -40px 0 0!important;
font-size: 35px;    font-weight: 400;}}
@media (min-width:1024px) and (max-width:1180px){
.form-styling {
    position: absolute;
top: 16%;}
}

#amenitiesimages {
display: none;}
#projectimages{
display: none;}
